/*Imports*/
/*Vars*/
/*Templates*/
/*Mixins*/
/*Fonts*/
/*lato-regular*/
@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v17-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v17-latin-regular.woff") format("woff"), url("../fonts/lato/lato-v17-latin-regular.ttf") format("truetype"), url("../fonts/lato/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}
/*lato-700*/
@font-face {
  font-family: "Lato Bolt";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato/lato-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato/lato-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-v17-latin-700.woff2") format("woff2"), url("../fonts/lato/lato-v17-latin-700.woff") format("woff"), url("../fonts/lato/lato-v17-latin-700.ttf") format("truetype"), url("../fonts/lato/lato-v17-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}
/*playfair-display-italic*/
@font-face {
  font-family: "Playfair Display Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/playfair/playfair-display-v21-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/playfair/playfair-display-v21-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair/playfair-display-v21-latin-italic.woff2") format("woff2"), url("../fonts/playfair/playfair-display-v21-latin-italic.woff") format("woff"), url("../fonts/playfair/playfair-display-v21-latin-italic.ttf") format("truetype"), url("../fonts/playfair/playfair-display-v21-latin-italic.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/*playfair-display-700italic*/
@font-face {
  font-family: "Playfair Display Bold Italic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/playfair/playfair-display-v21-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/playfair/playfair-display-v21-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/playfair/playfair-display-v21-latin-700italic.woff2") format("woff2"), url("../fonts/playfair/playfair-display-v21-latin-700italic.woff") format("woff"), url("../fonts/playfair/playfair-display-v21-latin-700italic.ttf") format("truetype"), url("../fonts/playfair/playfair-display-v21-latin-700italic.svg#PlayfairDisplay") format("svg");
  /* Legacy iOS */
}
/*krinkes-decor-personaluse*/
@font-face {
  font-family: "Krinkes Decor";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/krinkes/KrinkesDecorPERSONAL.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/krinkes/KrinkesDecorPERSONAL.woff") format("woff"), url("../fonts/krinkes/KrinkesDecorPERSONAL.ttf") format("truetype"), url("../fonts/krinkes/KrinkesDecorPERSONAL.svg") format("svg");
  /* Legacy iOS */
}
/*Main Styly*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  line-height: 1;
  background: #fff;
  font-family: "Lato Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
  outline-style: none;
}

ol, ul {
  list-style: none;
}

.container {
  max-width: 1330px;
  padding: 0px 20px;
  margin: auto;
}

/*Header*/
.header {
  background: #f2f2f2;
}

.header-top {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  line-height: 1px;
  align-items: center;
}

.call__icon {
  width: 10px;
  height: 10px;
  margin-right: 20px;
}
.call__text {
  display: inline;
  font-size: 11px;
  color: #393939;
}

.sign-up__link {
  font-family: Lato;
  font-size: 11px;
  color: #393939;
  text-transform: uppercase;
}
.sign-up__link::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  background: #393939;
  margin: 0px 30px;
}

.header-berger {
  display: none;
}
.header-berger__item {
  background: #000;
  display: block;
  width: 15px;
  height: 1px;
  margin-bottom: 2px;
  margin-top: 3px;
  cursor: pointer;
}

/*Shophia*/
.shophia-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 20px;
}

.navigation, .social {
  margin-top: 15px;
}

.navigation__wrapp {
  display: flex;
}
.navigation__item {
  margin-right: 30px;
}
.navigation__item:last-child {
  margin-right: 0px;
}
.navigation__link {
  color: #000;
  font-family: "Playfair Display Italic";
  font-size: 18px;
  font-style: italic;
}

.shophia__logo {
  color: #000;
  font-size: 72px;
  line-height: 94px;
  font-family: "Krinkes Decor";
}

.social {
  display: flex;
}
.social__link {
  border: 1px solid #d9bf8f;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.social__link-svg {
  width: 15px;
  height: 15px;
  fill: #d9bf8f;
}
.social__link:hover {
  border-color: #000;
}

.social__link:nth-child(4) {
  margin-right: 50px;
}

.social__link:hover .social__link-svg {
  fill: #000;
}

.social-btn__rupian {
  position: relative;
  background: #000;
  color: #fff;
  font-family: "Lato Regular";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 14px 12px 14px 14px;
}
.social-btn__arrow {
  width: 11px;
  vertical-align: middle;
  margin-left: 12px;
}

/*Main Slider*/
.slider-main {
  background: #737373 url("/images/slider/slider-bg.png") no-repeat center top;
  background-size: cover;
  padding: 150px 0px 166px;
  text-align: center;
}

.slider-wrapper__btn {
  color: #fff;
  font-family: "Lato Bolt";
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 18px 29px;
  background: #f09d66;
  transition: background 1s ease;
}
.slider-wrapper__btn:hover {
  background: #faaba4;
}

.slider-content {
  max-width: 273px;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 6px;
  margin: 0px auto 57px;
}
.slider-content__wrapp {
  border: 1px solid #fff;
  text-align: center;
}
.slider-content__text {
  color: #fff;
  font-family: "Lato Bolt";
  font-size: 19px;
  line-height: 15.66px;
  text-transform: uppercase;
  margin-top: 30px;
}
.slider-content__header {
  color: #000;
  font-family: "Lato Bolt";
  font-size: 59px;
  line-height: 41.76px;
  text-transform: uppercase;
  margin-top: 38px;
}
.slider-content__info {
  color: #fff;
  font-family: "Lato Bolt";
  font-size: 20px;
  line-height: 14.76px;
  text-transform: uppercase;
  margin-top: 34px;
}
.slider-content__discount {
  color: #000;
  font-family: "Lato Bolt";
  font-size: 31px;
  line-height: 27.76px;
  text-transform: uppercase;
  margin: 27px 0px 33px;
}

/*Slick Slider Settings*/
.slick-dots {
  bottom: 30px;
}

.slick-dots li button {
  background: #b2b2b2;
  transform: rotate(45deg);
}

.slick-dots li button:before {
  color: transparent;
}

.slick-dots li.slick-active button:before {
  color: transparent;
  background: #000;
}

.slick-dots li {
  margin-left: 15px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

/*Info*/
.info-wrapp {
  display: flex;
  padding: 69px 0px 100px;
}
.info-wrapp__shipping, .info-wrapp__money-back, .info-wrapp__support {
  display: flex;
  align-items: center;
  padding: 24px 64px;
}
.info-wrapp__shipping-logo {
  margin-right: 20px;
}
.info-wrapp__shipping {
  width: 415px;
  background: #d9bf8f;
  -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
          clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
}
.info-wrapp__title {
  color: #fff;
  font-family: "Lato Bolt";
  font-size: 30px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.info-wrapp__text {
  color: #fff;
  font-family: "Lato Regular";
  font-size: 14px;
}
.info-wrapp__money-back {
  width: 455px;
  background: #000;
  -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
          clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
}
.info-wrapp__support {
  width: 415px;
  background: #d9bf8f;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 10% 100%, 0 50%, 10% 0);
          clip-path: polygon(100% 0, 100% 50%, 100% 100%, 10% 100%, 0 50%, 10% 0);
}

/*Collection*/
.collection__section {
  margin-bottom: 65px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title__line {
  background: #eaeaea;
  height: 1px;
  width: 400px;
}
.section-title__header {
  color: #000;
  font-family: "Playfair Display Bold Italic";
  font-size: 29.6px;
  margin: 0px 172px;
  position: relative;
  white-space: nowrap;
}
.section-title__header::after, .section-title__header::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #d9bf8f;
  position: absolute;
  transform: rotate(45deg) translateY(-50%);
}
.section-title__header::after {
  left: -105px;
  top: 45%;
}
.section-title__header::before {
  right: -90px;
  top: 45%;
}

.collection__wrapp {
  padding-bottom: 100px;
}

.collection-catalog {
  display: flex;
  flex-wrap: wrap;
}
.collection-catalog__col-left, .collection-catalog__col-right {
  width: 400px;
}
.collection-catalog__content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  padding: 25px;
}
.collection-catalog__content_extra {
  width: 460px;
  height: 820px;
  margin: 0px 13px;
}
.collection-catalog__content:nth-child(1) {
  margin-bottom: 20px;
}
.collection-catalog__content-wrapp {
  border: 3px solid #fff;
  border-radius: 3px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.collection-catalog__content-wrapp:hover {
  background: rgba(0, 0, 0, 0.651);
}
.collection-catalog__content-wrapp:hover .collection-catalog__btn {
  visibility: visible;
}
.collection-catalog__content-wrapp:hover::after {
  visibility: visible;
}
.collection-catalog__content-wrapp::after {
  content: url("/images/collection/plus.png");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.collection-catalog__btn {
  background: #f0975c;
  color: #fff;
  font-family: "Lato Bolt";
  display: inline-block;
  font-size: 14.5px;
  padding: 15px;
  margin-bottom: 30px;
  visibility: hidden;
}

/*Catalog*/
.catalog__section {
  margin-bottom: 65px;
}
.catalog__wrapp {
  padding-bottom: 110px;
}

.catalog-brands {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 15px;
}
.catalog-brands__wrapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog-brands__item {
  position: relative;
  max-width: 300px;
  max-height: 345px;
  overflow: hidden;
  margin: 0px 13px 13px 0px;
}
.catalog-brands__discount {
  position: absolute;
  left: 5%;
  top: 5%;
}
.catalog-brands__logo {
  max-width: 100%;
}
.catalog-brands__btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.catalog-brands__btn-wrapp {
  border-bottom: 50px solid #000;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  width: 200px;
  color: #fff;
  white-space: nowrap;
}
.catalog-brands__btn-text {
  display: inline-block;
  margin-top: 17px;
}

.catalog-brands__btn_checked .catalog-brands__btn-wrapp {
  border-bottom-color: #f0975c;
}

/*Our Brands Slider*/
.our-brands__wrapp {
  padding-bottom: 100px;
}

.brands-slider__item {
  margin-left: 44px;
}

/*Customer*/
.customer-say {
  background: #d9bf8f url("/images/customer/customer-bg.png") no-repeat center top;
  background-size: cover;
}
.customer-say__wrapp {
  display: flex;
  justify-content: space-between;
  padding: 35px 20px 50px;
}
.customer-say__block {
  display: flex;
}
.customer-say__block_text_right {
  text-align: right;
}
.customer-say__avatar {
  max-width: 254px;
}
.customer-say__content {
  max-width: 290px;
  margin-top: 100px;
}
.customer-say__text {
  color: #fff;
  font-family: "Playfair Display Italic";
  font-size: 18.1px;
  line-height: 30px;
  margin-bottom: 55px;
}
.customer-say__name {
  color: #000;
  font-family: "Playfair Display Bold Italic";
  font-size: 30px;
  line-height: 18px;
  margin-bottom: 25px;
}
.customer-say__profession {
  font-family: "Lato Bolt";
  font-size: 14px;
  line-height: 22px;
  color: #7f7e7e;
}

/*Footer*/
.footer {
  background: #141414;
}
.footer__wrapp {
  padding: 70px 20px 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #363636;
  padding-bottom: 85px;
}
.footer-top::after {
  content: "";
  position: absolute;
  bottom: -2.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid #363636;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.footer-top__card-header {
  color: #fff;
  font-family: "Lato Bolt";
  margin-bottom: 45px;
}
.footer-top__card-header_text_wide {
  letter-spacing: 1px;
}
.footer-top__item {
  margin-bottom: 15px;
}
.footer-top__item-link {
  font-family: "Lato Regular";
  font-size: 14px;
  color: #737373;
}
.footer-top__social {
  margin-bottom: 50px;
}
.footer-top__social-link:not(:last-child) {
  margin-right: 16px;
}
.footer-top__in {
  font-family: "Playfair Display Italic";
}
.footer-top__form {
  width: 362px;
  position: relative;
}
.footer-top__text {
  width: 100%;
  background: transparent;
  border: 1px solid #484848;
  border-radius: 3px;
  padding: 13px 120px 13px 22px;
  outline-style: none;
  color: #fff;
}
.footer-top__btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-family: "Lato Regular";
  font-size: 12px;
  background: #323030;
  padding: 9px 19px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-bottom__info {
  font-family: "Lato Regular";
  font-size: 11px;
  line-height: 18px;
  color: #363636;
}
.footer-bottom__way-up {
  position: relative;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 3px;
}
.footer-bottom__arrow-up {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

/*Responsive*/
/*Responsive*/
/*Header*/
@media screen and (max-width: 765px) {
  .sign-up {
    display: none;
  }

  .header-berger {
    display: block;
  }
}
/*Shophia*/
@media screen and (max-width: 945px) {
  .shophia-wrapp {
    flex-direction: column;
    align-items: center;
  }

  .navigation {
    margin: 0px 0px 15px;
  }

  .social {
    margin-top: 0px;
  }

  .navigation__item {
    margin-right: 10px;
  }

  .social__link:nth-child(4) {
    margin-right: 10px;
  }
}
/*Main Slider*/
/*Info*/
@media screen and (max-width: 1330px) {
  .info-wrapp {
    display: flex;
    flex-direction: column;
  }

  .info-wrapp__shipping, .info-wrapp__money-back, .info-wrapp__support {
    width: 100%;
    -webkit-clip-path: none;
            clip-path: none;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 510px) {
  .info-wrapp__shipping, .info-wrapp__money-back, .info-wrapp__support {
    padding: 24px 0px;
  }

  .info-wrapp__title {
    font-size: 24px;
  }

  .info-wrapp__shipping-logo {
    display: none;
  }
}
/*Catalog*/
@media screen and (max-width: 390px) {
  .catalog-brands__btn {
    bottom: 2px;
  }
}
/*Collection*/
@media screen and (max-width: 1330px) {
  .collection-catalog {
    justify-content: center;
  }

  .collection-catalog__content_extra {
    order: 3;
    margin-top: 20px;
  }

  .collection-catalog__col-right {
    margin-left: 20px;
  }
}
@media screen and (max-width: 865px) {
  .collection-catalog__col-right {
    margin: 20px 13px 0px;
  }
}
@media screen and (max-width: 520px) {
  .collection-catalog__col-right, .collection-catalog__content_extra {
    margin: 20px 0px 0px;
  }

  .section-title__header::after, .section-title__header::before {
    display: none;
  }

  .section-title__header {
    margin-top: 10px;
  }
}
/*Our Brands*/
@media screen and (max-width: 1330px) {
  .brands-slider__wrapp {
    max-width: 651px;
    margin: auto;
  }
}
@media screen and (max-width: 745px) {
  .brands-slider__wrapp {
    max-width: 213px;
  }
}
/*Customer*/
@media screen and (max-width: 1170px) {
  .customer-say__block {
    flex-direction: column;
  }

  .customer-say__wrapp {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 670px) {
  .customer-say__wrapp {
    flex-direction: column;
    align-items: center;
  }
}
/*Footer*/
@media screen and (max-width: 1040px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-top__card:not(:last-child) {
    margin-bottom: 30px;
  }

  .footer-top::after {
    bottom: -0.7%;
  }
}
@media screen and (max-width: 450px) {
  .footer-top__social-link {
    display: block;
  }

  .footer-top__social-link:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .footer-top__form {
    width: 300px;
  }
}