/*Vars*/
$white: #fff;
$black: #000;
$sand: #d9bf8f;
$dark: #141414;
$milk: #eaeaea;
$orange: #feab12;
$grey: #bbb;
$light-grey: #e0e0e0;
$dark-orange: #f0975c;
$dark-grey: #737373;
$asphalt: #393939;
$smoke: #b2b2b2;
$dark-smoke: #7f7e7e;
$light-smoke: #f2f2f2;
$light-asphalt: #6a6a6a;
$dirty-orange: #f09d66;
$dirty-asphalt: #323030;
$dirty-dark: #363636;
$light-milk: #fffcfc;
$dirty-black: #484848;